@media screen and (min-width: 768px) {
 
  .brand {
    margin-bottom: 0;
  }

  header h1 {
    margin-bottom: 0;
    font-size: 1.7rem;
  }

  #menu {
    display: none;
  }

  nav {
    justify-self: end;
  }
  
 .navigation {
    display: flex;
    flex-direction:row;
    
    gap: 1rem;
    margin-top: 0;
  }

  .navigation a {
    background-color: transparent;
    padding: 0.5rem 0.8rem;
  }

  .filters {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }

    .members.grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem;
  }

   .hero {
    grid-template-columns: 2fr 1fr;
  }

  .hero img {
    height: 350px;
  }

  .home-grid {
    grid-template-columns: 2fr 1fr 1fr;
    align-items: stretch;
  }

  .spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .spotlights h2 {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }

  .business {
    margin-bottom: 0;
  }

  .join-layout {
    grid-template-columns: 2fr 1fr;
  }

  .members.grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .members.list-view .member-card {
    grid-template-columns: 1.2fr 1.5fr 1fr 1fr;
    gap: 1rem;
    align-items: start;
  }

  .members.list-view .member-card h3,
  .members.list-view .member-card p {
    margin: 0;
  }
}

@media (min-width: 641px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
   .discover-card img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .discover-card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .hero img {
    height: 400px;
  }
  .members.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

   .members.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

   .discover-grid {
    grid-template-areas:
      "card1 card1 card2 card3"
      "card4 card5 card6 card6"
      "card7 card8 card8 card3";
  }
}
